.footer {
  padding: 120px 0;
  background-color: #f9f9f9;

  &__row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
  }

  &__copyright {
    max-width: 354px;
    display: grid;
    gap: 16px;
  }

  &__text {
    margin-bottom: 16px;
    font-size: 13px;
    color: #5b5b5b;
    margin: 0;
  }

  &__socials {
    display: flex;
    gap: 32px;
    align-items: center;

    &-link {
      display: block;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 64px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__nav-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  &__nav-list {
    display: grid;
    gap: 12px;
  }

  &__nav-link {
    color: #5b5b5b;
    font-size: 13px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #7b61ff;
    }
  }

  &__subscribe {
    max-width: 388px;
  }

  &__subscribe-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  &__btn-to-top {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #7b61ff;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 35px;
    right: 70px;
    z-index: 10;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, background-color 0.3s ease-in-out;
    opacity: 0;

    &:hover {
      background-color: #6344ff;
    }

    & svg {
      transform: rotate(270deg);
    }
  }
}

.shown {
  opacity: 1;
}
