.form {
  display: flex;
  align-items: center;
  width: 1140px;
  height: 88px;
  padding: 8px;
  color: #000;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;

  &__input {
    color: #161414;
    font-weight: 500;
    font-size: 16px;

    &::placeholder {
      color: #000;
    }

    &--location {
      width: 300px;
      background-image: url('./../img/icons/map.svg');
    }

    &--activity {
      width: 255px;
      background-image: url('./../img/icons/activity.svg');
    }

    &--guests {
      width: 255px;
      background-image: url('./../img/icons/guests.svg');
    }

    &--date {
      width: 255px;
      background-image: url('./../img/icons/calendar.svg');
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 16px 56px;
    background-repeat: no-repeat;
    background-position: 16px 24px;
  }

  &__label {
    font-size: 14px;
    font-weight: 300;
    color: #5b5b5b;
  }
}
