.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.nav-list {
  display: flex;
  column-gap: 54px;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;

  &__link {
    opacity: 0.7;

    &--active {
      opacity: 1;
    }
  }
}
