.section {
  &__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cards {
    display: grid;
    gap: 32px;

    &--popular {
      grid-template-columns: repeat(6, 1fr);
    }

    &--4-in-row {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
