<footer class="footer">
  <div class="container">
    <div class="footer__row">

      <div class="footer__copyright">
        <a href="#" class="footer__logo">
          <img src="./img/logo/logo-black.svg" alt="Logo" class="footer__logo-img">
        </a>
        <p class="footer__text">We always make our customers happy by providing as many choises as possible</p>
        <ul class="footer__socials list-reset">
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">
              <img src="./img/socials/facebook.svg" alt="facebook">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">
              <img src="./img/socials/twitter.svg" alt="twitter">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">
              <img src="./img/socials/instagram.svg" alt="instagram">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-wrapper">
        <div class="footer__nav">
          <h3 class="footer__nav-title">About</h3>
          <ul class="footer__nav-list list-reset">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">About Us</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Features</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">News</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Menu</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <h3 class="footer__nav-title">Company</h3>
          <ul class="footer__nav-list list-reset">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Why 2rism</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Partner With Us</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">FAQ</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <h3 class="footer__nav-title">Support</h3>
          <ul class="footer__nav-list list-reset">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Account</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Support Center</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Feedback</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__subscribe">
        <div class="footer__subscribe-title">Subscribe on our destination review newsletters</div>
        <form action="" class="subscribe">
          <div class="subscribe__input-wrapper">
            <input type="email" class="subscribe__input input-reset" required>
            <label for="" class="subscribe__label">Your Email</label>
          </div>
          <div class="subscribe__btn-wrapper">
            <button class="button button--subscribe btn-reset">
              <img src="./img/icons/arrow-right-form.svg" alt="Arrow" aria-label="hidden">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <button class="footer__btn-to-top btn-reset">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 9H0V7H8V0L16 8L8 16V9Z" fill="white" />
    </svg>

  </button>
</footer>
